.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

header{
  position: fixed;
  border-bottom: 1px solid green;
  display: flex;
  justify-content: space-around;
  width:100%;
  z-index:1;
  font-size: large;
  box-shadow: 0px 10px 10px -10px rgb(175, 174, 174);
  background-color: white;
  top:0;
}
header div{
  display:flex;
  align-self: center;
}
header.div-left{
  width:69%;
  text-align: start;
}
header.div-right{
  width:29%;
  text-align: end;
}
header img{
  width:60%;
}
